<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>t
                        <string>https://vmayimingcc.github.io/app.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>live.yremp.Minecraft</string>
                     <key>bundle-version</key>
                    <string>1.19.51.01</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>MinecrafMinecraft</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
